<div class="jumbotron herobox">
  <div class="center row">
    <span class="herotitle">Temukan alat berat yang anda perlukan!</span>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span id="heroimage"></span>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row indentleft">
        <div class="col-xs-6">
          <span class="heroheader">Merk</span>
          <span class="herotext">
            <li>Caterpillar</li>
            <li>Komatsu</li>
            <li>Hitachi</li>
            <li>Kobelco</li>
            <li>Bomag</li>
            <li>John Deere</li>
            <li>Kubota</li>
            <li>Sakai</li>
            <li>Keihatsu</li>
            <li>Lainnya...</li>
          </span>
        </div>
        <div class="col-xs-6">
          <span class="heroheader">Jenis</span>
          <span class="herotext">
            <li>Hydraulic Excavator</li>
            <li>Bulldozer</li>
            <li>Motor Grader</li>
            <li>Wheel Loader</li>
            <li>Tractor</li>
            <li>Compactor</li>
            <li>Forklift</li>
            <li>Vibrating Roller</li>
            <li>Backhoe Loader</li>
            <li>Lainnya...</li>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <span class="new-listing-title">Posting Terbaru</span>
</div>
<div class="row">
  <% @latest_listings.each do |l| %>
    <div class="col-sm-6 col-md-3 new-listing">
      <%= link_to (image_tag l.listing_attachments.first.nil? ? "http://placehold.it/480x270" : l.listing_attachments.first.image_url), l %>
      <span class="new-listing-button"><%= link_to l.title, l %></span>

    </div>
  <% end %>
</div>