<%= form_for(@listing) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id="step1" class="form-group row">
    <div class="col-sm-3 form-label">
      <%= f.label :name, 'Jenis alat' %>
    </div>
    <div class="col-sm-9">
      <!-- <%= f.text_field :name, class: 'form-control' %> -->
      <%= f.radio_button :name, 'Excavator', class: 'grey-btn' %>
      <%= f.label :name, 'Excavator', value: 'Excavator' %>
      <%= f.radio_button :name, 'Bulldozer', class: 'grey-btn' %>
      <%= f.label :name, 'Bulldozer', value: 'Bulldozer' %>
      <%= f.radio_button :name, 'Motor Grader', class: 'grey-btn' %>
      <%= f.label :name, 'Motor Grader', value: 'Motor Grader' %>
      <%= f.radio_button :name, 'Wheel Loader', class: 'grey-btn' %>
      <%= f.label :name, 'Wheel Loader', value: 'Wheel Loader' %>
      <%= f.radio_button :name, 'Backhoe Loader', class: 'grey-btn' %>
      <%= f.label :name, 'Backhoe Loader', value: 'Backhoe Loader' %>
      <%= f.radio_button :name, 'Tractor', class: 'grey-btn' %>
      <%= f.label :name, 'Tractor', value: 'Tractor' %>
      <%= f.radio_button :name, 'Compactor/Roller', class: 'grey-btn' %>
      <%= f.label :name, 'Compactor/Roller', value: 'Compactor/Roller' %>
      <%= f.radio_button :name, 'Forklift', class: 'grey-btn' %>
      <%= f.label :name, 'Forklift', value: 'Forklift' %>
      <%= f.radio_button :name, 'Crane', class: 'grey-btn' %>
      <%= f.label :name, 'Crane', value: 'Crane' %>
      <%= f.radio_button :name, 'Asphalt Finisher', class: 'grey-btn' %>
      <%= f.label :name, 'Asphalt Finisher', value: 'Asphalt Finisher' %>
    </div>
  </div>
  <div id="step2" class="form-group row">
    <div class="col-sm-3 form-label">
      <%= f.label :brand, 'Jenis merk' %>
    </div>
    <div class="col-sm-9">
      <!-- <%= f.text_field :brand, class: 'form-control' %> -->
      <%= f.radio_button :brand, 'Bobcat', class: 'grey-btn' %>
      <%= f.label :brand, 'Bobcat', value: 'Bobcat' %>
      <%= f.radio_button :brand, 'Bomag', class: 'grey-btn' %>
      <%= f.label :brand, 'Bomag', value: 'Bomag' %>
      <%= f.radio_button :brand, 'Case', class: 'grey-btn' %>
      <%= f.label :brand, 'Case', value: 'Case' %>
      <%= f.radio_button :brand, 'Caterpillar', class: 'grey-btn' %>
      <%= f.label :brand, 'Caterpillar', value: 'Caterpillar' %>
      <%= f.radio_button :brand, 'Hitachi', class: 'grey-btn' %>
      <%= f.label :brand, 'Hitachi', value: 'Hitachi' %>
      <%= f.radio_button :brand, 'Hyundai', class: 'grey-btn' %>
      <%= f.label :brand, 'Hyundai', value: 'Hyundai' %>
      <%= f.radio_button :brand, 'JCB', class: 'grey-btn' %>
      <%= f.label :brand, 'JCB', value: 'JCB' %>
      <%= f.radio_button :brand, 'John Deere', class: 'grey-btn' %>
      <%= f.label :brand, 'John Deere', value: 'John Deere' %>
      <%= f.radio_button :brand, 'Kato', class: 'grey-btn' %>
      <%= f.label :brand, 'Kato', value: 'Kato' %>
      <%= f.radio_button :brand, 'Keihatsu', class: 'grey-btn' %>
      <%= f.label :brand, 'Keihatsu', value: 'Keihatsu' %>
      <%= f.radio_button :brand, 'Kobelco', class: 'grey-btn' %>
      <%= f.label :brand, 'Kobelco', value: 'Kobelco' %>
      <%= f.radio_button :brand, 'Komatsu', class: 'grey-btn' %>
      <%= f.label :brand, 'Komatsu', value: 'Komatsu' %>
      <%= f.radio_button :brand, 'Kubota', class: 'grey-btn' %>
      <%= f.label :brand, 'Kubota', value: 'Kubota' %>
      <%= f.radio_button :brand, 'Liu Gong', class: 'grey-btn' %>
      <%= f.label :brand, 'Liu Gong', value: 'Liu Gong' %>
      <%= f.radio_button :brand, 'Lonking', class: 'grey-btn' %>
      <%= f.label :brand, 'Lonking', value: 'Lonking' %>
      <%= f.radio_button :brand, 'Massey Ferguson', class: 'grey-btn' %>
      <%= f.label :brand, 'Massey Ferguson', value: 'Massey Ferguson' %>
      <%= f.radio_button :brand, 'Mitsubishi', class: 'grey-btn' %>
      <%= f.label :brand, 'Mitsubishi', value: 'Mitsubishi' %>
      <%= f.radio_button :brand, 'New Holland', class: 'grey-btn' %>
      <%= f.label :brand, 'New Holland', value: 'New Holland' %>
      <%= f.radio_button :brand, 'Sakai', class: 'grey-btn' %>
      <%= f.label :brand, 'Sakai', value: 'Sakai' %>
      <%= f.radio_button :brand, 'Sany', class: 'grey-btn' %>
      <%= f.label :brand, 'Sany', value: 'Sany' %>
      <%= f.radio_button :brand, 'Shantui', class: 'grey-btn' %>
      <%= f.label :brand, 'Shantui', value: 'Shantui' %>
      <%= f.radio_button :brand, 'Sumitomo', class: 'grey-btn' %>
      <%= f.label :brand, 'Sumitomo', value: 'Sumitomo' %>
      <%= f.radio_button :brand, 'Tadano', class: 'grey-btn' %>
      <%= f.label :brand, 'Tadano', value: 'Tadano' %>
      <%= f.radio_button :brand, 'Takeuchi', class: 'grey-btn' %>
      <%= f.label :brand, 'Takeuchi', value: 'Takeuchi' %>
      <%= f.radio_button :brand, 'Terex', class: 'grey-btn' %>
      <%= f.label :brand, 'Terex', value: 'Terex' %>
      <%= f.radio_button :brand, 'Toyota', class: 'grey-btn' %>
      <%= f.label :brand, 'Toyota', value: 'Toyota' %>
      <%= f.radio_button :brand, 'Volvo', class: 'grey-btn' %>
      <%= f.label :brand, 'Volvo', value: 'Volvo' %>
      <%= f.radio_button :brand, 'XCMG', class: 'grey-btn' %>
      <%= f.label :brand, 'XCMG', value: 'XCMG' %>
    </div>
  </div>
  <div id="step3">
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :modeltype, 'Jenis tipe' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_field :modeltype, placeholder: 'Isi tipe', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :origin, 'Asal alat' %>
      </div>
      <div class="col-sm-9">
      <%= f.radio_button :origin, 'Lokal', class: 'grey-btn' %>
      <%= f.label :origin, 'Lokal', value: 'Lokal' %>
      <%= f.radio_button :origin, 'Import', class: 'grey-btn' %>
      <%= f.label :origin, 'Import', value: 'Import' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :hourmeter, 'Hour meter' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_field :hourmeter, placeholder: 'Isi hour meter', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :year, 'Tahun alat' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_field :year, placeholder: 'Isi tahun', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :price, 'Harga' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_field :price, placeholder: 'Isi harga (Rupiah)', data: {autonumeric: {aSign: 'Rp ', mDec: 0, aDec: ',', aSep: '.'}}, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :condition, 'Kondisi alat' %>
      </div>
      <div class="col-sm-9">
      <%= f.radio_button :condition, 'Baru', class: 'grey-btn' %>
      <%= f.label :condition, 'Baru', value: 'Baru' %>
      <%= f.radio_button :condition, 'Bekas', class: 'grey-btn' %>
      <%= f.label :condition, 'Bekas', value: 'Bekas' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :sell_status, 'Status alat' %>
      </div>
      <div class="col-sm-9">
      <%= f.check_box :sell_status, class: 'grey-btn' %>
      <%= f.label :sell_status, 'Dijual' %>
      <%= f.check_box :lease_status, class: 'grey-btn' %>
      <%= f.label :lease_status, 'Disewakan' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :location, 'Lokasi' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_field :location, placeholder: 'Isi lokasi', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3 form-label">
      <%= f.label :description, 'Deskripsi' %>
      </div>
      <div class="col-sm-9">
      <%= f.text_area :description, placeholder: 'Isi deskripsi', class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.fields_for :listing_attachment do |p| %>
        <div class="col-sm-3 form-label">
          <%= p.label :image %><br>
        </div>
        <div class="col-sm-9">
          <%= p.file_field :image, :multiple => true, name: "listing_pic_attachments[image][]", accept: 'image/jpeg,image/gif,image/png', class: 'form-control-file' %>
        </div>
      <% end %>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $('#listing_attachment_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
