<li id="listing-<%= listing.id %>">
  <%= link_to gravatar_for(listing.user, size: 50), listing.user %>
  <span class="name"><%= link_to listing.name, listing %></span>
  <span class="hourmeter">Hour Meter : <%= listing.hourmeter %></span>
  <span class="status">Status : <%= 'dijual' if listing.sell_status %><%= ', ' if listing.sell_status && listing.lease_status %><%= 'disewakan' if listing.lease_status %></span>
  <span class="location">Lokasi : <%= listing.location %></span>
  <span class="user">Penjual : <%= link_to listing.user.name, listing.user %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(listing.created_at) %> ago.
  </span>    
  <% if current_user?(listing.user) %>
    <%= link_to "delete", listing, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</li>