<% provide(:title, "Edit listing") %>
<% provide(:button_text, 'Save changes') %>
<h1>Edit Listing</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
    <div>
    <table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_pic_attachments.each do |listing_attachment| %>
      <tr>
        <td><%= listing_attachment.image %></td>
        <td><%= link_to 'Delete', listing_attachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
    </div>
  </div>
</div>