<% provide(:title, 'Create New Listing') %>
<% provide(:button_text, 'Submit') %>
<h1>Create New Listing</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>