<% provide(:title, @listing.name) %>
<div class="row">
  <div class="col-xs-12">
    <h1 class="listing-headline">
      <%= link_to @listing.title, @listing %>
    </h1>
    <div id="slider" class="flexslider">
      <ul class="slides">
        <% @listing_attachments.each do |l| %>
          <li>
            <%= image_tag l.image_url %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <span class="current-slide"></span>
      <span>/</span>
      <span class="total-slides"></span>
    </div>
    <div id="carousel" class="flexslider">
      <ul class="slides">
        <% @listing_attachments.each do |l| %>
          <li>
            <%= image_tag l.image_url %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="listing-subhead">
          Data Spesifikasi
        </h2>
        <div class="listing-box">
          <div class="row">
            <div class="col-xs-3"><span>Merk</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.brand %></span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Nama</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.name %></span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Tipe</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.modeltype %></span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Tahun</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.year %></span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Hour meter</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.hourmeter %> jam kerja</span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Asal</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.origin %></span></div>
          </div>
          <div class="row">
            <div class="col-xs-3"><span>Kondisi</span></div>
            <div class="col-xs-1"><span>:</span></div>
            <div class="col-xs-8"><span><%= @listing.condition %></span></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2 class="listing-subhead">
            Harga
          </h2>
          <div class="listing-box">
            <div class="row">
              <div class="col-xs-12">
                <span class="price-tag"><%= number_to_currency @listing.price, locale: :id, precision: 0, format: "%u %n" %></span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="listing-subhead">
            Dokumen Dukungan
          </h2>
          <div class="listing-box">
          </div>
        </div>
        <div>
          <h2 class="listing-subhead">
            Status
          </h2>
          <div class="listing-box">
            <div class="row">
              <div class="col-xs-6">
                <div class="<%= @listing.sell_status ? 'tick' : 'cross' %>">
                </div>
                <span>
                  Untuk Dijual
                </span>
              </div>
              <div class="col-xs-6">
                <div class="<%= @listing.lease_status ? 'tick' : 'cross' %>">
                </div>
                <span>
                  Untuk Disewakan
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <h2 class="listing-subhead">
          Deskripsi
        </h2>
        <div class="listing-box">
          <span>
            <%= @listing.description %>
          </span>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <h2 class="listing-subhead">
            Lokasi
          </h2>
          <div class="listing-box">
            <span>
              <%= @listing.location %>
            </span>
          </div>
        </div>
        <div>
          <h2 class="listing-subhead">
            Informasi Penjual
          </h2>
          <div class="listing-box">
            <span>
              <%= link_to @listing.user.name, @listing.user %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <section class="listing_control">
    <% if current_user?(@listing.user) %>
      <%= link_to "Delete Listing", @listing, method: :delete, data: { confirm: "Are you sure?" } %><br>
      <%= link_to "Edit Listing", edit_listing_path(@listing) %>
    <% end %>
    </section>
  </div>
</div>