<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        <%= @user.username %>
      </p>
    </section>
    <section class="listing_control">
      <% if current_user?(@user) %>
        <%= link_to "Create New Listing", new_listing_path(@listing) %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
  <% if @user.listings.any? %>
    <h3>listings (<%= @user.listings.count %>)</h3>
    <ol class="listings">
      <%= render @listings %>
    </ol>
    <%= will_paginate @listings %>
  <% end %>  
</div>