<% provide(:title, "Resend activation link") %>
<h1>Resend activation link</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:resend_activation, url: resend_activation_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>