<%= form_for(@search) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div id="step1" class="form-group row">
    <div class="col-sm-3 form-label">
      <%= f.label :name, 'Jenis alat' %>
    </div>
    <div class="col-sm-9">
      <%= f.radio_button :name, 'Excavator', class: 'grey-btn' %>
      <%= f.label :name, 'Excavator', value: 'Excavator' %>
      <%= f.radio_button :name, 'Bulldozer', class: 'grey-btn' %>
      <%= f.label :name, 'Bulldozer', value: 'Bulldozer' %>
      <%= f.radio_button :name, 'Motor Grader', class: 'grey-btn' %>
      <%= f.label :name, 'Motor Grader', value: 'Motor Grader' %>
      <%= f.radio_button :name, 'Wheel Loader', class: 'grey-btn' %>
      <%= f.label :name, 'Wheel Loader', value: 'Wheel Loader' %>
      <%= f.radio_button :name, 'Backhoe Loader', class: 'grey-btn' %>
      <%= f.label :name, 'Backhoe Loader', value: 'Backhoe Loader' %>
      <%= f.radio_button :name, 'Tractor', class: 'grey-btn' %>
      <%= f.label :name, 'Tractor', value: 'Tractor' %>
      <%= f.radio_button :name, 'Compactor/Roller', class: 'grey-btn' %>
      <%= f.label :name, 'Compactor/Roller', value: 'Compactor/Roller' %>
      <%= f.radio_button :name, 'Forklift', class: 'grey-btn' %>
      <%= f.label :name, 'Forklift', value: 'Forklift' %>
      <%= f.radio_button :name, 'Crane', class: 'grey-btn' %>
      <%= f.label :name, 'Crane', value: 'Crane' %>
      <%= f.radio_button :name, 'Asphalt Finisher', class: 'grey-btn' %>
      <%= f.label :name, 'Asphalt Finisher', value: 'Asphalt Finisher' %>
    </div>
  </div>

  <div id="step2" class="form-group row">
    <div class="col-sm-3 form-label">
      <%= f.label :brand, 'Jenis merk' %>
    </div>
    <div class="col-sm-9">
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Bobcat', false %>
      <%= f.label :brand, 'Bobcat', value: 'Bobcat' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Bomag', false %>
      <%= f.label :brand, 'Bomag', value: 'Bomag' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Case', false %>
      <%= f.label :brand, 'Case', value: 'Case' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Caterpillar', false %>
      <%= f.label :brand, 'Caterpillar', value: 'Caterpillar' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Hitachi', false %>
      <%= f.label :brand, 'Hitachi', value: 'Hitachi' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Hyundai', false %>
      <%= f.label :brand, 'Hyundai', value: 'Hyundai' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'JCB', false %>
      <%= f.label :brand, 'JCB', value: 'JCB' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'John Deere', false %>
      <%= f.label :brand, 'John Deere', value: 'John Deere' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Kato', false %>
      <%= f.label :brand, 'Kato', value: 'Kato' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Keihatsu', false %>
      <%= f.label :brand, 'Keihatsu', value: 'Keihatsu' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Kobelco', false %>
      <%= f.label :brand, 'Kobelco', value: 'Kobelco' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Komatsu', false %>
      <%= f.label :brand, 'Komatsu', value: 'Komatsu' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Kubota', false %>
      <%= f.label :brand, 'Kubota', value: 'Kubota' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Liu Gong', false %>
      <%= f.label :brand, 'Liu Gong', value: 'Liu Gong' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Lonking', false %>
      <%= f.label :brand, 'Lonking', value: 'Lonking' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Massey Ferguso, falsen' %>
      <%= f.label :brand, 'Massey Ferguson', value: 'Massey Ferguson' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Mitsubishi', false %>
      <%= f.label :brand, 'Mitsubishi', value: 'Mitsubishi' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'New Holland', false %>
      <%= f.label :brand, 'New Holland', value: 'New Holland' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Sakai', false %>
      <%= f.label :brand, 'Sakai', value: 'Sakai' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Sany', false %>
      <%= f.label :brand, 'Sany', value: 'Sany' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Shantui', false %>
      <%= f.label :brand, 'Shantui', value: 'Shantui' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Sumitomo', false %>
      <%= f.label :brand, 'Sumitomo', value: 'Sumitomo' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Tadano', false %>
      <%= f.label :brand, 'Tadano', value: 'Tadano' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Takeuchi', false %>
      <%= f.label :brand, 'Takeuchi', value: 'Takeuchi' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Terex', false %>
      <%= f.label :brand, 'Terex', value: 'Terex' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Toyota', false %>
      <%= f.label :brand, 'Toyota', value: 'Toyota' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'Volvo', false %>
      <%= f.label :brand, 'Volvo', value: 'Volvo' %>
      <%= f.check_box :brand, {multiple: true, class: 'grey-btn'}, 'XCMG', false %>
      <%= f.label :brand, 'XCMG', value: 'XCMG' %>
    </div>
  </div>

  <div id="step3">
    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :modeltype, 'Jenis tipe' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :modeltype, placeholder: 'Isi tipe', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :origin, 'Asal alat' %>
      </div>
      <div class="col-sm-9">
        <%= f.radio_button :origin, 'lokal', class: 'grey-btn' %>
        <%= f.label :origin, 'Lokal', value: 'lokal' %>
        <%= f.radio_button :origin, 'import', class: 'grey-btn' %>
        <%= f.label :origin, 'Import', value: 'import' %>
      </div>
    </div> 
    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :hourmeter, 'Hour meter' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :min_hourmeter, placeholder: 'Isi hour meter minimum', class: 'form-control' %>
        <%= f.text_field :max_hourmeter, placeholder: 'Isi hour meter maksimum', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :year, 'Tahun alat' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :min_year, placeholder: 'Isi tahun minimum', class: 'form-control' %>
        <%= f.text_field :max_year, placeholder: 'Isi tahun maksimum', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :price, 'Harga' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :min_price, placeholder: 'Isi harga minimum (Rupiah)', class: 'form-control' %>
        <%= f.text_field :max_price, placeholder: 'Isi harga maksimum (Rupiah)', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :condition, 'Kondisi alat' %>
      </div>
      <div class="col-sm-9">
        <%= f.radio_button :condition, 'baru', class: 'grey-btn' %>
        <%= f.label :condition, 'Baru', value: 'baru' %>
        <%= f.radio_button :condition, 'bekas', class: 'grey-btn' %>
        <%= f.label :condition, 'Bekas', value: 'bekas' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :sell_status, 'Status alat' %>
      </div>
      <div class="col-sm-9">
        <%= f.check_box :sell_status, class: 'grey-btn' %>
        <%= f.label :sell_status, 'Dijual' %>
        <%= f.check_box :lease_status, class: 'grey-btn' %>
        <%= f.label :lease_status, 'Disewakan' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-3 form-label">
        <%= f.label :location, 'Lokasi' %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :location, placeholder: 'Isi lokasi', class: 'form-control' %>
      </div>
    </div>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
