<% provide(:title, "Cari Alat") %>
<% provide(:button_text, "Cari") %>
<h1>Cari sesuai kriteria anda</h1>
<div class="row">
  <div>
    <div class="col-md-6 col-md-offset-3">
      <%= render 'form' %>
    </div>
  </div>
</div>