<% provide(:title, "Hasil Pencarian") %>
<h1>Hasil pencarian</h1>
<div class="row">
  <div>
    <% if @search.search_listings.empty? %>
      <p>No Listings Found</p>
    <% else %>
      <ol class="listings">
        <%= render @search.search_listings %>
      </ol>
      <%= will_paginate @search.search_listings %>
    <% end %>
  </div>
</div>