$screen-lg-min: 1300px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  font-family: 'Lato', sans-serif;
  padding-top: 180px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.nav .open > a {
  &,
  &:hover,
  &:focus {
    background-color: transparent;
    background-image: linear-gradient(-1deg, #F9D140 0%, #DDA700 100%);
  }
}

nav.navbar-fixed-top {
  border-width: 0;
}

nav.navbar {
  min-height: 80px;
  background-image: linear-gradient(-1deg, #FAD961 0%, #FFC100 100%);
  position: absolute;
  border-width: 0;

  > div > div > ul.navbar-utiliti {
    margin: 0 auto;
    width: 100%;
    padding: 0;
    list-style: none;

    > li {
      // 22px is logo-width/6, rounded up
      width: -moz-calc(100% / 6 - 22px);
      width: -webkit-calc(100% / 6 - 22px);
      width: calc(100% / 6 - 22px);
      &:nth-of-type(4) {
        margin-left: 131px;
      }

      > a {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 1em;
        color: #8B572A;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        vertical-align: middle;
        &:hover,
        &:focus {
          background-image: linear-gradient(-1deg, #F9D140 0%, #DDA700 100%);
        }
      }

      /* dropdown account menu */
      > ul {
        width: 100%;

        > li {
          width: 100%;

          > a {
            font-family: 'Lato', sans-serif;
            font-weight: normal;
            font-size: 1em;
            color: black;
            letter-spacing: 1px;
            text-transform: none;
            text-decoration: none;
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

/* CSS for basic styling and non-retina image path: */
#logo {
  position: absolute;
  width: 130px;
  height: 117px;
  background-image: image-url('logo.png');
  left: 50%;
  margin: 21px 0 0 -65px;
  z-index: 9999;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  #logo {
    background-image: image-url('logo@2x.png');
    background-size: 130px 117px;
  }
}

/* Hamburger Menu */

/* starts collapsing at small device */
@media (max-width: 991px) {
   
}

.custom-navbar .navbar-right {
      float: right;
      margin-right: 0;
      padding-left: 10px;
    }

@media (max-width:991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }

  .custom-navbar {
    .nav.navbar-nav.navbar-right li {
      // float: left;
    }

    .nav.navbar-nav.navbar-right li > a {
      padding:8px 5px;
    }
  
    .navbar-toggle {
      float: left;
      margin: 25px 0px 10px 10px;
      border-color: transparent;

      &:hover,
      &:focus {
        background-color: transparent;
      }

      .icon-bar {
        background-color: #8B572A;
      }
    }
    .navbar-header {
      float: left;
      width: auto!important;
    }
    
    .navbar-collapse {
      clear: both;
      float: none;
      border-top: 0;
    }
    ul {
      padding-top: 75px!important;
      padding-bottom: 20px!important;
      > li {
        width: 100%!important;
        &:nth-of-type(4) {
          margin-left: 0!important;
        }
        > a {
          float: none;
          padding-top: 10px!important;
          padding-bottom: 10px!important;
        }
      }
    }
  }
}

@media (max-width:767px) {
  nav.navbar {
    min-height: 59px;
  }

  .custom-navbar {
    .navbar-toggle {
      margin: 15px 0px 10px 10px;
    }

    ul {
      padding-top: 20px!important;
    }
  }

  #logo {
    position: absolute;
    width: 59px;
    height: 53px;
    background-image: image-url('logo_mobile.png');
    left: 50%;
    margin: 20px 0 0 -30px;
  }

  /*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
  @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
    #logo {
      background-image: image-url('logo_mobile@2x.png');
      background-size: 59px 53px;
    }
  }
}

/* hero box */

#heroimage {
  display: inline;
  float: right;
  width: 134%;
  padding-bottom: 114%;
  background-image: image-url('heroimage.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-top: -20%;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  #heroimage {
    background-image: image-url('heroimage@2x.png');
  }
}

@media (max-width:767px) {
  #heroimage {
    width: 125%;
    padding-bottom: 107%;
  }
}

.herobox {
  background-color: #FFC100;
  padding-top: 30px;
  padding-bottom: 30px;
}

.herotitle {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3.4em;
  color: #FFFFFF;
  z-index: 99;
}

.heroheader {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  color: #8B572A;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left;
}

.herotext {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 1.3em;
  color: #8B572A;
  line-height: 2.3em;
  text-align: left;
}

.indentleft {
  padding-left: 20px;
}

/* Home Postings */

.new-listing-title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
}

.new-listing {
  img {
    border-right: thick solid #FFC100;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 10px 0px 10px 0px;
  }

  .new-listing-button {
    position: absolute;
    left: 0;
    right: 0;
    top: 70%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    a {
      font-family: 'Lato', sans-serif;
      font-weight: normal;
      font-size: 1em;
      color: #8B572A;
      text-align: center;
      background-image: linear-gradient(-180deg, #FAD961 0%, #FFC100 100%);
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.37);
      border-radius: 4px;
      padding: 7px 7px 7px 7px;
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */
.form-label {
  vertical-align: middle;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
}
/*
  Hide radio button (the round disc)
*/
input[type=radio].grey-btn {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio].grey-btn + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    cursor: pointer;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked.grey-btn + label { 
   background-image: none;
    background-color:#d0d0d0;
}

/*
  Hide checkbox button
*/
input[type=checkbox].grey-btn {
    display:none; 
    margin:10px;
}
 
/*
  Change the look'n'feel of labels.
  Add some margin, padding to label
*/
input[type=checkbox].grey-btn + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #e7e7e7;
    border-color: #ddd;
    cursor: pointer;
}
/*
 Change background color for label next to checked checkbox button
 to make it look like highlighted button
*/
input[type=checkbox]:checked.grey-btn + label { 
   background-image: none;
    background-color:#d0d0d0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: relative;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 0;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* listings */

.listings {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .name {
    margin-top: 5em;
    padding-top: 0;
  }
  .hourmeter {
    display: block;
    margin-left: 60px;
  }
  .status {
    display: block;
    margin-left: 60px;
  }
  .location {
    display: block;
    margin-left: 60px;
  }
  .user {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* flexslider */

.flex-direction-nav a {
  line-height: 40px;
  color: #FFC100 !important;
  text-shadow: none !important;
}

.flex-direction-nav a:before {
  text-shadow: none !important;
}

#slider {
  border: 4px solid #FFC100;
  border-radius: 0px;
  margin: 0 0 4px;
}

#carousel {
  border: 0px;
  margin: 0 0 20px;
  ul.slides li {
    border: 4px solid #FFC100;
  }
}

/* listing layouts */

.listing-box {
  padding: 10px 20px 10px 20px;
  background: #F7F7F7;
  border-radius: 4px;

  div:nth-of-type(3) {
    width: inherit;
  }

  span {
    font-size: 1.1em;
    line-height: 2.2em;
    color: #393D3D;
  }

  .tick {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: image-url('checkmark_tick.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
    + span {
      vertical-align: middle;
    }
  }

  .cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: image-url('checkmark_cross.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 2px 2px 0 0;
    vertical-align: middle;
    + span {
      vertical-align: middle;
    }
  }
}

.price-tag {
  font-weight: bold;
}

.listing-headline {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 3.4em;
}

.listing-subhead {
  color: #000000;
  letter-spacing: 0;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.7em;
  text-transform: uppercase;
  text-align: left;
}

.flex-direction-nav a:before {
  display: inline-block;
  content: ''!important;
  background-image: image-url('arrow_left.png');
  background-repeat: no-repeat;
  width: 13px!important;
  height: 16px!important;
}
.flex-direction-nav a.flex-next:before {
  content: ''!important;
  background-image: image-url('arrow_right.png');
  background-repeat: no-repeat;
  width: 13px!important;
  height: 16px!important;
}

/*CSS for serving the retina image to devices with a high "device-pixel-ratio":*/
@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .flex-direction-nav a:before {
    background-image: image-url('arrow_left@2x.png');
    background-size: 13px 16px;
  }
  .flex-direction-nav a.flex-next:before {
    background-image: image-url('arrow_right@2x.png');
    background-size: 13px 16px;
  }
}