<nav class="navbar navbar-default navbar-fixed-top custom-navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "", root_path, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav navbar-utiliti">
        <li><%= link_to "Tentang Utiliti",   about_path %></li>
        <li><%= link_to "Cari Alat",   new_search_path %></li>
        <li><%= link_to "Lihat Alat",   help_path %></li>
        <li><%= link_to "Jual Alat", new_listing_path %></li>
        <li><%= link_to "Hubungi Kami", contact_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Daftar - Masuk", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>